# Visual Studio Önbellek klasörleri
.vs/
BuildHost-netcore/
BuildHost-net472/

# Derleme çıktıları ve geçici dosyalar
bin/
obj/

# Kullanıcıya özel lokal ayarlar
*.user
*.userosscache
*.suo
*.userprefs


.idea/

